#main-container {
	display: flex;
	align-items: center;
	height: 100vh;
	width: fit-content;

}
#image-section {
	max-width: 40%;
}
button{
	color: white;
	background-color: blue;
		border-radius: 6px;
		margin-top: 10px;
		width:fit-content ;
		padding: 5px 15px;
}